<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Oops!</title>
      <link rel="stylesheet" th:href="@{/style.css}"/>
      
   </head>
   <html>
      <div class="errorPage">
         <h1 align="center">Oops!</h1><br/>
         <img src="@{/MissingPage.png}"></img>
         <h1>There seems to be a problem with the page you requested
            (<span th:text="${path}"></span>).
         </h1>
        <!--  <p th:text="${'Details: ' + message}"></p> -->
      </div>
   </html>
</html>